*{	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Pridi', serif;
	}
	


.outline-line{
	outline:none;
	border: 1px solid white;
	}
	

.active-bg:active{
	letter-spacing: 2px;
	transition: .2s;
}